@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  color: black;
  background-color: #fff;
}

@media only screen and (min-width: 600px) {

  .w-left-fixed {
    flex: 0 1 230px;
    min-width: 300px;
  }

  .w-center-fixed {
    #flex: 0 1 230px;
    width: 50%;
  }

  .w-right-fixed {
    #border-left: 2px solid #BFC9CA;
    #flex: 0 1 230px;
    width: 50%;
  }

  .icons {
    font-size: 3rem;
  }

  body {
    font-size: 18px;
    max-width: none; /* Reset max-width for larger screens */
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  ul li {
    font-size: 20px;
  }
  font-size: 18px;
}

@media (max-width: 640px) {

  .icons {
    font-size: 2rem;
    width: 2rem;
  }

  .w-right-fixed {
    border-top: 2px solid #BFC9CA;
    padding-top: 1rem;
    width: 100%;
  }

  h1 {
    font-size: 28px;
    max-width: none; /* Reset max-width for larger screens */
  }

  h2 {
    font-size: 24px;
    max-width: none;
  }

  h3 {
    font-size: 22px;
    max-width: none;
  }

  h4 {
    font-size: 20px;
    max-width: none;
  }

  h5 {
    font-size: 18px;
    max-width: none;
  }

  h6 {
    font-size: 16px;
    max-width: none;
  }

  ul li {
    font-size: 16px;
  }
  font-size: 16px;
}

html.dark #rootElement{
  color: #ffffff;
  background-color: #1D2125;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

