@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  color: black;
  background-color: #fff;
}

@media (min-width: 640px) {

  #navLogo{
    font-size: 24px;
  }

  h3{
    font-size: 24px;
  }

  ul li {
    font-size: 24px;
  }
  font-size: 18px;

}

@media (max-width: 640px) {

  h1 {
    font-size: 28px;
    max-width: none; /* Reset max-width for larger screens */
  }

  h2 {
    font-size: 24px;
    max-width: none;
  }

  h3 {
    font-size: 22px;
    max-width: none;
  }

  h4 {
    font-size: 20px;
    max-width: none;
  }

  h5 {
    font-size: 18px;
    max-width: none;
  }

  h6 {
    font-size: 16px;
    max-width: none;
  }

  #navLogo{
    font-size: 16px;
  }
  font-size: 16px;
}

html.dark #rootElement{
  color: #ffffff;
  background-color: rgb(38 38 38);}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
