@media (min-width: 640px) {
    .w-left-fixed {
        flex: 0 1 230px;
        min-width: 300px;
    }

    .w-center-fixed {
        #flex: 0 1 230px;
        width: 50%;
    }

    .w-right-fixed {
        border-left: 2px solid #BFC9CA;
        #flex: 0 1 230px;
        width: 50%;
    }

    .icons {
        font-size: 3rem;
        width: 3rem;
    }
}

.checkedIcons{
}


@media (max-width: 640px) {
    .icons {
        font-size: 2rem;
        width: 2rem;
    }

}
